<template>
    <div class="card">
        <h2 class="card-header" align="left" >Featured</h2>
        <div class="container mt-5">
            <h2>Tacos Edgar</h2>
                <div class="row">
                    <div class="col">
                        <h3 align="left">nombre</h3>
                        <input type="text" class="form-control" placeholder="nombre" v-model="nombre">
                    </div>
                    <div class="col">
                        <h3 align="left">tacos</h3>
                        <input type="text" class="form-control" placeholder="al pastor" v-model="tacos">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3 align="left">cantidad</h3>
                        <input type="number" class="form-control" placeholder="00" v-model="cantidad">
                    </div>
                    <div class="col">
                        <h3 align="left">precio de un taco</h3>
                        <input type="number" class="form-control" placeholder="$000" v-model="precio">
                    </div>
                </div>
                <br>
                <button class="btn btn-primary" @click="agregar" >aceptar</button>

        </div>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">nombre</th>
                <th scope="col">tipo de tacos</th>
                <th scope="col">cantidad</th>
                <th scope="col">precio total</th>
                <th scope="col">opcion</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="factura in facturas" :key="factura.nombre">
                <th>{{factura.nombr}}</th>
                <th>{{factura.taco}}</th>
                <th>{{factura.cantid}}</th>
                <th>{{factura.total}}</th>
                <button class="btn btn-success" @click="Delete">Delete</button>
            </tr>
            </tbody>
        </table>
    </div>
</template>
<script>
    export default {
        name:"tacos",
        data(){
            return{
                facturas:[],
                nombre:"",
                tacos:"",
                cantidad:"",
                precio:"",
            }
        },
        methods:{
            agregar(){
                this.facturas.push({
                    nombr:this.nombre,
                    taco:this.tacos,
                    cantid:this.cantidad,
                    preci:this.precio,
                    total:this.precio*this.cantidad
                });
                this.nombre="";
                this.tacos="";
                this.cantidad="";
                this.precio="";
            },
            Delete:function (user) {
                this.facturas.splice(user,1)

            }
        }
    }
</script>